.main-home .history-panel .history-item button {
    width: auto;
    padding: 10px;
}

.history-item p {
    align-self: start;
    justify-self: start;
}

.history-item {
    display: grid;
    grid-template-areas: "level task title button";
    grid-template-columns: 2fr 2fr 8fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.history-panel {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 30px;
    align-self: center;
}

#level-option {
    grid-area: level-select;
}

#task-option {
    grid-area: task-select;
}

#level-label {
    grid-area: level-label;
}

#task-label {
    grid-area: task-label;
}

#start-writting-btn {
    grid-area: start-writting-btn;
}

.writing-panel {
    display: grid;
    grid-template-areas: "level-label task-label ." "level-select task-select start-writting-btn";
    grid-gap: 10px;
}

.writing-panel select {
    font-size: 16px;
    display: block;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.writing-panel select::-ms-expand {
    display: none;
}

.writing-panel select:hover {
    border-color: #888;
}

.writing-panel select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

.writing-panel select option {
    font-weight:normal;
}


.main-home button {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    background-color: #fff;
    text-align: center;
}

.main-home button {
    background-color: #007CB2;
    color: #fff;
    cursor: pointer;
}

.main-home button:hover {
    background-color: #005882;
}

.writing-panel {
    margin-bottom: 50px;
}