/**********************************************/
/*                  variables                 */
/**********************************************/
:root {
  --black-1: #111;
  --black-2: #333;
  --black-3: #555;
  --grey-1: #AAA;
  --grey-2: #CCC;
  --grey-3: #D9D7D2;
  --white-1: #EEE;
  --white-2: #FFF;
  --yellow: #f5ec77;
  --red: #df5748;
  --sm: 500px;
  --md: 600px;
  --lg: 800px;
  --xl: 1000px;
}


/**********************************************/
/*                   base                     */
/**********************************************/
html {
  touch-action: manipulation;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  font-size: 16px;
  padding: .6rem 1.4rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

select {
  display: block;
  font-size: 1.6rem;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  border-radius: .3em;
  border: none;
  background-color: var(--white-1);
}

.img-50 {
  width: 50px;
  height: 50px;
}

.img-40 {
  width: 40px;
  height: 40px;
}

.img-30 {
  width: 30px;
  height: 30px;
}

.bg-black-1 {
  background-color: var(--black-2);
}

.bg-black-2 {
  background-color: var(--black-2);
}

.bg-black-3 {
  background-color: var(--black-3);
}

.bg-grey-1 {
  background-color: var(--grey-1);
}

.bg-grey-2 {
  background-color: var(--grey-2);
}

.bg-grey-3 {
  background-color: var(--grey-3);
}

.color-white-1 {
  color: var(--white-1);
}

.color-white-2 {
  color: var(--white-2);
}

.instructions-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
  margin: 3rem 0;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  background-color: var(--yellow);
  max-width: 90rem;
}

.instructions-wrapper h2 {
  font-size: 2.4rem;
  margin: 1rem 0 1rem 0;
}

.instructions-wrapper p {
  font-size: 1.6rem;
}

.instructions-wrapper li {
  font-size: 1.4rem;
  margin-left: 2rem;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
  margin: 5rem 0;
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 1rem;
  background-color: var(--grey-2);
  max-width: 90rem;
}

/**********************************************/
/*                   navbar                   */
/**********************************************/
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  color: var(--white-1);
  margin-left: 2rem;
}

header p {
  color: var(--white-1);
  font-size: 1.6rem;
  margin-right: 2rem;
  cursor: pointer;
}

header .header-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem 3.2rem;
  background-color: var(--black-1);
}

header .header-wrapper .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-wrapper .logout {
  display: none;
  align-items: center;
  cursor: pointer;
}

header .header-wrapper .logout-small-screens {
  display: flex;
}

header .profile-panel-sm {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.2rem;
  align-items: center;
  background-color: var(--black-2);
  border-bottom: 1px solid var(--grey-1);
  box-shadow: 0 5px 10px var(--grey-1);
}

header .profile-panel-sm p {
  color: var(--white-1);
  font-size: 1.8rem;
  font-weight: 500;
}

@media screen and (min-width: 500px) {
  header .header-wrapper {
    justify-content: space-between;
  }
  header .header-wrapper .logout {
    display: flex;
    align-items: center;
  }
  header .profile-panel-sm {
    display: none;
  }
}

/**********************************************/
/*                  home                      */
/**********************************************/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.2rem;
  min-height: 100vh;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

main h2, div h2 {
  font-size: 2.4rem;
  margin: 2rem 0 2rem 0;
}

main p, div p {
  font-size: 1.6rem;
}


/**********************************************/
/*            start writing section           */
/**********************************************/
.start-writing-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
  margin: 5rem 0;
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 1rem;
  background-color: var(--grey-2);
}

.start-writing-wrapper .writing-panel {
  display: grid;
  column-gap: 1.8rem;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:  "level-label level-select"
                        "task-label task-select"
                        ". start-writting-btn";
  row-gap: 1.8rem;
}

.start-writing-wrapper .writing-panel p {
  font-size: 1.6rem;
}

.start-writing-wrapper .writing-panel div {
  display: flex;
  min-width: 5rem;
  align-items: center;
  justify-content: end;
}

.start-writing-wrapper .writing-panel div:nth-child(1){
  grid-area: level-label;
}

.start-writing-wrapper .writing-panel div:nth-child(3){
  grid-area: level-select;
}

.start-writing-wrapper .writing-panel div:nth-child(2){
  grid-area: task-label;
}

.start-writing-wrapper .writing-panel div:nth-child(4){
  grid-area: task-select;
}

.start-writing-wrapper .writing-panel div:nth-child(5){
  grid-area: start-writting-btn;
  justify-self: end;
}

@media screen and (min-width: 500px) {
  .start-writing-wrapper .writing-panel {
    grid-template-columns: 6fr 6fr;
    grid-template-areas:  "level-label task-label"
                        "level-select task-select"
                        ". start-writting-btn";
  }
  .start-writing-wrapper .writing-panel div {
    justify-content: start;
  }
}

@media screen and (min-width: 600px) {
  .start-writing-wrapper .writing-panel {
    grid-template-columns: 1fr 6fr 1fr 6fr;
    grid-template-areas: "level-label level-select task-label task-select"
                        ". . .  start-writting-btn";
  }
  .start-writing-wrapper .writing-panel div {
    justify-content: start;
  }
}

@media screen and (min-width: 700px) {
  .start-writing-wrapper .writing-panel {
    grid-template-columns: 1fr 6fr 1fr 6fr;
    grid-template-areas: "level-label level-select task-label task-select start-writting-btn";
  }
  .start-writing-wrapper .writing-panel div {
    justify-content: start;
  }
}

/**********************************************/
/*              history section               */
/**********************************************/
.writing-history-wrapper .history-panel {
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
}

.writing-history-wrapper .history-panel div {
  display: grid;
  grid-template-areas: "title button";
  grid-template-columns: 8fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--grey-2);
  column-gap: 1.8rem;
}

.writing-history-wrapper .history-panel div:nth-child(1) {
  border-bottom: 2px solid var(--grey-1);
}

.writing-history-wrapper .history-panel div:nth-child(1) p {
  font-weight: 900;
  font-size: large;
}

.writing-history-wrapper .history-panel div p {
  align-self: center;
  justify-self: start;
  font-size: 1.6rem;
}

.writing-history-wrapper .history-panel div p:nth-child(1) {
  display: none;
}

.writing-history-wrapper .history-panel div p:nth-child(2) {
  display: none;
}

@media screen and (min-width: 500px) {
  .writing-history-wrapper .history-panel div p:nth-child(1) {
    display: block;
  }
  .writing-history-wrapper .history-panel div {
      grid-template-areas: "level title button";
      grid-template-columns: 2fr 8fr 1fr;
  }
}

@media screen and (min-width: 600px) {
  .writing-history-wrapper .history-panel div p:nth-child(2) {
    display: block;
  }
  .writing-history-wrapper .history-panel div {
      grid-template-areas: "level task title button";
      grid-template-columns: 2fr 2fr 8fr 1fr;
  }
}


/**********************************************/
/*               write page                   */
/**********************************************/
.main-write {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.2rem;
  margin-bottom: 3rem;
}

.text-area-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  width: 100%;
}

.text-area-wrapper textarea {
  width: 100%;
  height: 60rem;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  border: 1px solid var(--grey-1);
}

.control-panel-wrapper {
  max-width: 90rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: "error error error"
                       "counter goback submit";
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 4rem;
}

.control-panel-wrapper span {
  font-size: 1.6rem;
  padding: .6rem 1.4rem;
  color: var(--red);
  grid-area: error;
}

.control-panel-wrapper em {
  font-size: 1.2rem;
  grid-area: counter;
}

.control-panel-wrapper a {
  font-size: 1.6rem;
  margin-right: 1rem;
  text-align: center;
  color: var(--black-1);
  grid-area: goback;
  cursor: pointer;
  text-decoration: underline;
}

.control-panel-wrapper button {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  cursor: pointer;
  grid-area: submit;
}



/**********************************************/
/*                  REVIEW                    */
/**********************************************/
.spinner-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  z-index: 9999; 
}

.spinner {
  height: 150px;
  width: 150px;
  background: linear-gradient(to right, #333 50%, #fff 50%);
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

.loading-label {
  color: #fff; 
  font-size: 20px; 
  text-align: center; 
}

.main-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.2rem;
  margin-bottom: 3rem;
}

.main-review .go-home {
  place-self: start;
  margin-top: 1.2rem;
  cursor: pointer;
}

.main-review .go-home img {
  width: 30px;
  height: 30px;
}

.main-review .section-wrapper {
  margin-bottom: 0;
}

.main-review .instructions-wrapper {
  margin-top: 1.2rem;
}

.paragraph h2 {
  margin-bottom: .5rem;
}

.paragraph p, .feedback em, .feedback div, .rewrite p {
  font-size: 1.6rem;
  margin-bottom: 2.8rem;
}

.feedback h3 {
  font-size: 1.8rem;
  margin: 3rem;
}

.note {
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1.5rem; 
  background-color: var(--yellow);
}

.feedback .note:nth-child(odd) {
  margin-right: 10%;
  margin-bottom: 10px;
}

.feedback .note:nth-child(even) {
  margin-left: 10%;
  margin-bottom: 10px;
}

.rephrase {
  background-color: var(--white-1);
  padding: 1.8rem;
  border-radius: 1rem;
}

/* .note:nth-child(1), .note:nth-child(5) {
  background-color: #04deee;
}

.note:nth-child(2), .note:nth-child(6)  {
  background-color: #F5DD61;
}

.note:nth-child(3), .note:nth-child(7) {
  background-color: #DC84F3;
}

.note:nth-child(4), .note:nth-child(8) {
  background-color: #F266AB; */
}

/* .rephrase em {
  color: #333;
  font-weight: 800;
  font-size: 14px;
}



@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.rephrase {
  padding: 15px 15px;
  border-radius: 10px;
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px; 
  background-color: #c0cecf;
}




.title {
  background-color: #333;
  color: white;
  padding: 0px;
  margin: 0;
  text-align: center;
}

.paragraph-number h4 {
  position: absolute;
  right: 0; 
  transform: rotate(-90deg); 
  transform-origin: top right; 
  white-space: nowrap;
  color:white;
  background-color: #333;
  padding: 0 20px;
  border-radius: 5px 5px 0 0;
}

.paragraph-number {
  position: relative;
}

.main-review h2 {
  align-self: center;
  justify-self: center;
}

.main-review .feedback ul li {
  margin: 0;
  font-size: 15px;
}

.main-review .feedback ul {
  margin: 0 0 0 0;
}

.main-review .feedback p {
  margin: 0;
  font-size: 15px;
}

.main-review .paragraph h3 {
  margin: 0 0 10px 0;
}

.feedback {
  grid-column: 3/4;
  grid-row: 2 / span 2;
  background-color: #9FBB73;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
}

.rewrite {
  grid-column: 4/5;
  grid-row: 2 / span 2;
  background-color: #F1EB90;
  padding: 10px 20px;
}

.paragraph {
  grid-column: 2/3;
  grid-row: 2 / span 2;
  background-color: #F3B664;
  padding: 10px 20px;
}

.main-review {
  display:flex;
  flex-flow: column wrap;
  max-width: 80%;
  margin: 25px auto;
}

.instructions-review {
  background-color: #F1EB90;
  padding: 10px 25px 15px 25px;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
}

.review-grid  {
  padding: 0;
  display: grid;
  grid-template-columns: auto 8fr 8fr 8fr;
  grid-template-rows: 1fr repeat(auto-fill, minmax(auto, 1fr));
  grid-column-gap: 20px;
  grid-area: original-copy;
  padding: 25px 25px 25px 25px;
  border-radius: 10px;
  font-size: 16px;
}

.go-home {
  position: absolute;
  top: 90px;
  left: 25px;
}

.main-review p:nth-child(odd) {
  color: black;
  margin-bottom: 20px;
}
*/

.main-review div {
  display: flex;
}

.wrong {
  display: inline;
  text-decoration: line-through;
  font-weight: 900;
  background-color: #faa4a4;
  border-radius: 10px;
  padding: 0 5px;
}

.right {
  display: inline;
  background-color: #82f082;
  font-weight: 900;
  border-radius: 10px;
  padding: 0 5px;
} 


/**********************************************/
/*                   login                    */
/**********************************************/

.oauth-background {
  width: 100%;
  height: 100%;
  display: flex; /* Flexbox for centering the spinner */
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.oauth {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #555;
  cursor: pointer;
}

.oauth p {
  color: black;
}

.oauth:hover {
  background-color: #f1f1f1;
}

.oauth img {
  margin-right: 20px;
  height: 40px;
  width: 40px;
}

.main-login {
  max-width: 80%;
  margin: 50px auto;
  padding: 0;
}