.title {
  background-color: #333;
  color: white;
  padding: 0px;
  margin: 0;
  text-align: center;
}

.paragraph-number h4 {
  position: absolute;
  right: 0; /* Stick to the right border */
  transform: rotate(-90deg); /* Rotate -90 degrees */
  transform-origin: top right; /* Pivot from the top right corner */
  white-space: nowrap;
  color:white;
  background-color: #333;
  padding: 0 20px;
  border-radius: 5px 5px 0 0;
}

.paragraph-number {
  position: relative;
}



.main-review h2 {
  align-self: center;
  justify-self: center;
}

.main-review .feedback ul li {
  margin: 0;
  font-size: 15px;
}

.main-review .feedback ul {
  margin: 0 0 0 0;
}

.main-review .feedback p {
  margin: 0;
  font-size: 15px;
}

.main-review .paragraph h3 {
  margin: 0 0 10px 0;
}

.main-review .feedback {
  background-color: #9FBB73;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
}

.rewrite {
  background-color: #F1EB90;
  padding: 20px;
}

.main-review .paragraph {
  background-color: #F3B664;
  padding: 20px;
}

.app .main-review  {
  max-width: 80%;
  margin: 50px auto;
  padding: 0;
  display: grid;
  grid-template-columns: auto 8fr 8fr 12fr;
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  grid-column-gap: 20px;
}

.main-review {
  grid-area: original-copy;
  padding: 25px 25px 25px 25px;
  border-radius: 10px;
  font-size: 16px;
}

.main-review p:nth-child(odd) {
  color: black;
  margin-bottom: 20px;
}

.main-review wrong {
  text-decoration: line-through;
  font-weight: 900;
  background-color: red;
}

.main-review right {
  background-color: rgb(33, 192, 33);
  font-weight: 900;
}

/* 
.original-copy p:nth-child(1) {
  background-color: rgb(201, 201, 87);
}

.original-copy p:nth-child(2) {
  background-color: rgb(161, 161, 228);
}

.original-copy p:nth-child(3) {
  background-color: rgb(90, 207, 196);
}

.original-copy p:nth-child(4) {
  background-color: rgb(235, 194, 61);
}

.original-copy p:nth-child(5) {
  background-color: rgb(212, 130, 233);
}

.original-copy p:nth-child(6) {
  background-color: rgb(124, 148, 161);
} */

/************************************************************************************************/

.app {
  width: 100%;
  min-width: 800px;
}

.app header {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app header h1 {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

.app header img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.app .main-write  {
  max-width: 80%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: auto auto;
  grid-template-areas: "instructions textearea" ". controlpanel";
  grid-column-gap: 20px;
  grid-row-gap: 5px;
}

.instructions {
  grid-area: instructions;
  background-color: #9BBEC8;
  padding: 10px 25px 15px 25px;
  border-radius: 10px;
  font-size: 16px;
}

.instructions p {
  color: black;
  font-weight: 200;
}

.instructions em {
  color: black;
  font-weight: 800;
  margin: 0 10px 0 10px;
}

.instructions h2 {
  color: black;
  font-size: 26px;
}

.instructions li {
  color: black;
}

.text-area {
  grid-area: textearea;
  border-radius: 10px;
  font-size: 18px;
}

.text-area textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 0 0 10px;
  font-size: 18px;
  width: 100%;
  height: 97%;
}

.control-panel {
  grid-area: controlpanel;
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-areas: "error counter button";
}

.control-panel button {
  grid-area: button;
  width: auto;
  background-color: #164863;
  color: white;
  padding: 7px 20px 7px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.control-panel button:hover, .control-panel button:focus  {
  background-color: #5e5e5e;
}

.control-panel em {
  grid-area: counter;
  align-self: center;
  justify-self: end;
  margin-right: 15px;
  font-size: 13px;
}

.control-panel span {
  grid-area: error;
  color:rgb(223, 87, 72);
  font-weight: 800;
  align-self: center;
  justify-self: start;
  font-size: 16px;
  border-radius: 5px;
}

main {
  display: flex;
}